@import "tailwindcss";

@theme
{
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(97% 0 0);
    --color-base-300: oklch(94% 0 0);

    --color-primary: #26a0da;
    --color-secondary: #314755;

    --text-normal: oklch(6% 0 0);

    --text-tiny: 12px;
    --text-small: 14px;
    --text-medium: 16px;
    --text-large: 18px;
}

*
{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

html, body
{
    font-family: monospace, sans-serif;
}

#root
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.btn-glass
{
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.10);
}

.btn-primary
{
    outline-width: 2px;
    outline-offset: 2px;
    transition-duration: 200ms;
    background: color-mix(in srgb, var(--color-primary) 70%, transparent);
}

.btn-primary:hover
{
    background: color-mix(in srgb, var(--color-primary) 85%, transparent);
}

.btn-primary:active
{
    background: color-mix(in srgb, var(--color-primary) 100%, transparent);
}

.btn-primary:focus
{
    outline-color: color-mix(in srgb, var(--color-primary) 100%, transparent);
}

.btn-secondary
{
    outline-width: 2px;
    outline-offset: 2px;
    transition-duration: 200ms;
    background: color-mix(in srgb, var(--color-secondary) 70%, transparent);
}

.btn-secondary:hover
{
    background: color-mix(in srgb, var(--color-secondary) 85%, transparent);
}

.btn-secondary:active
{
    background: color-mix(in srgb, var(--color-secondary) 100%, transparent);
}

.btn-secondary:focus
{
    outline-color: color-mix(in srgb, var(--color-secondary) 100%, transparent);
}
