@import "tailwindcss";

@theme
{
    --color-base-1: oklch(100% 0 0 / 1);
    --color-base-2: oklch(99% 0 0 / 1);
    --color-base-3: oklch(98% 0 0 / 1);

    --color-btn-normal: oklch(95% 0.0 0 / 1);
    --color-btn-normal-hover: oklch(100% 0.0 0 / 1);
    --color-btn-normal-active: oklch(90% 0.0 0 / 1);
    --color-btn-normal-border: oklch(90% 0.0 0 / 1);
    --color-btn-normal-outline: oklch(90% 0.0 0 / 1);

    --color-btn-primary: oklch(55% 0.30 225 / 1);
    --color-btn-primary-hover: oklch(60% 0.30 225 / 1);
    --color-btn-primary-active: oklch(50% 0.30 225 / 1);
    --color-btn-primary-border: oklch(50% 0.30 225 / 1);
    --color-btn-primary-outline: oklch(50% 0.30 225 / 1);

    --color-btn-secondary: oklch(55% 0 255 / 1);
    --color-btn-secondary-hover: oklch(60% 0 255 / 1);
    --color-btn-secondary-active: oklch(50% 0 255 / 1);
    --color-btn-secondary-border: oklch(50% 0 255 / 1);
    --color-btn-secondary-outline: oklch(50% 0 255 / 1);

    --color-txt-muted: oklch(50% 0 0 / 1);
    --color-txt-normal: oklch(5% 0 0 / 1);
    --color-txt-reverse: oklch(95% 0 0 / 1);

    --text-tiny: 12px;
    --text-small: 14px;
    --text-medium: 16px;
    --text-large: 18px;
}

*
{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

html, body
{
    font-family: monospace, sans-serif;
}

#root
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.btn-primary,
.btn-secondary,
.btn-normal
{
    cursor: pointer;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: transparent;
    transition-duration: 200ms;
    box-shadow: 0 4px 8px rgb(125 125 125 / 0.05);
}

.btn-primary
{
    color: var(--color-txt-reverse);
    background: var(--color-btn-primary);
    border: 1px solid var(--color-btn-primary-border);
}

.btn-primary:hover
{
    transform: translateY(-1px);
    background: var(--color-btn-primary-hover);
}

.btn-primary:active
{
    transform: translateY(0) scale(0.99);
    background: var(--color-btn-primary-active);
}

.btn-primary:focus
{
    outline-color: var(--color-btn-primary-outline);
}

.btn-secondary
{
    color: var(--color-txt-reverse);
    background: var(--color-btn-secondary);
    border: 1px solid var(--color-btn-secondary-border);
}

.btn-secondary:hover
{
    transform: translateY(-1px);
    background: var(--color-btn-secondary-hover);
}

.btn-secondary:active
{
    transform: translateY(0) scale(0.99);
    background: var(--color-btn-secondary-active);
}

.btn-secondary:focus
{
    outline-color: var(--color-btn-secondary-outline);
}

.btn-normal
{
    color: var(--color-txt-normal);
    background: var(--color-btn-normal);
    border: 1px solid var(--color-btn-normal-border);
}

.btn-normal:hover
{
    transform: translateY(-1px);
    background: var(--color-btn-normal-hover);
}

.btn-normal:active
{
    transform: translateY(0) scale(0.99);
    background: var(--color-btn-normal-active);
}

.btn-normal:focus
{
    outline-color: var(--color-btn-normal-outline);
}

.swiper-pagination
{
    gap: 10px;
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
}

.swiper-pagination-bullet
{
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin: 0px !important;
    background: var(--color-btn-primary) !important;
}
